[AWS]
KEY = <YOUR ACCESS KEY>
SECRET = <YOUR SECRET ACCESS KEY>

[DWH]
DWH_CLUSTER_TYPE=single-node
DWH_NUM_NODES=1
DWH_NODE_TYPE=dc2.large
DWH_CLUSTER_IDENTIFIER=my-first-redshift-cluster
DWH_DB=myfirstdb
DWH_DB_USER= awsuser
DWH_DB_PASSWORD= <DATABASE PASSWORD>
DWH_PORT=5439
DWH_IAM_ROLE_NAME=redshift-s3-access

[S3]
SCHEMA_NAME = "covid_19"
S3_STAGING_DIR = "s3://covid-de-output/output/"
S3_BUCKET_NAME = "covid-de-output"
S3_OUTPUT_DIRECTORY = "output"
